<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UserMapper">
    <!-- [주의] UserMapper인터페이스의 "패키지명.인터페이스명" 를 namespace에 지정해야 함
        각 element들의 id 값은 메서드명으로 지정해야 한다
     -->
    <insert id="createUser" parameterType="com.project.domain.UserVo">

        <!-- insert문 -->
        insert into users
        values(#{user_id},#{email:VARCHAR},#{password:VARCHAR},#{nickname},1,SYSDATE)
    </insert>

    <!-- 회원가입 할떄 이메일 중복 체크 -->
    <select id="idCheck" parameterType="String" resultType="int">
        SELECT COUNT(email) FROM users WHERE email=#{id}
    </select>

    <!-- 닉네임 중복 체크 -->
    <select id="nickCheck" parameterType="String" resultType="int">
        SELECT COUNT(nickname) FROM users WHERE nickname=#{nick}
    </select>


    <!-- 로그인 처리 -->

    <select id="userlogin" resultType="com.project.domain.UserVo" >
        select email,password,nickname
        from users
        where email = #{email} and password =#{password}
    </select>

</mapper>