<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UserMapper">
    <!-- [주의] UserMapper인터페이스의 "패키지명.인터페이스명" 를 namespace에 지정해야 함
        각 element들의 id 값은 메서드명으로 지정해야 한다
     -->
    <insert id="createUser" parameterType="com.project.domain.UserVo">

        <!-- insert문 -->
        insert into users
        values(#{user_id},#{email:VARCHAR},#{password:VARCHAR},#{nickname},1,SYSDATE)
    </insert>

    <!-- 회원가입 할떄 이메일 중복 체크 -->
    <select id="emailCheck" parameterType="String" resultType="int">
        SELECT COUNT(email) FROM users WHERE email=#{email}
    </select>

    <!-- 닉네임 중복 체크 -->
    <select id="nickCheck" parameterType="String" resultType="int">
        SELECT COUNT(nickname) FROM users WHERE nickname=#{nickname}
    </select>

    <!-- 비밀번호 변경 -->
    <update id="update_password" parameterType="map">
        update users set password = #{password} where email = #{email}
    </update>

    <!-- 회원탈퇴 -->
    <delete id="userDelete">
        delete from users
        where email = #{email} and password =#{password}
    </delete>

    <!--로그인 처리 -->
    <select id="userlogin" resultType="com.project.domain.UserVo" >
        select user_id,email,password,nickname
        from users
        where email = #{email} and password =#{password}
    </select>

    <!--회원정보 수정 -->
    <update id="modify">
        update users
        <set>
            <if test="nickname!=null and nickname!=''">
                nickname = #{nickname}
            </if>
            <if test="newPassword!=null and newPassword!=''">
                ,password = #{newPassword}
            </if>
        </set>
        <where>
            email = #{email}
        </where>
    </update>

</mapper>