<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.YFestivalMapper">
    <select id="getFestivalInfoById" parameterType="String" resultType="com.project.domain.YFestivalVO">
        select a.*, (select count(f_like_id) from f_likes b where b.festival_id_fk=a.festival_id) f_like
        from festivals a where a.festival_id = #{value}
    </select>
    <!-- userId라고했지만 사실 festivalId값임 페이징객체 재활용하려고 그런것 -->
    <select id="getReviewByFid" parameterType="com.project.domain.MyPagingVO" resultType="com.project.domain.ReviewVO">
        
        select a.review_id, a.user_id_fk, a.festival_id_fk, a.review_nickname, a.review_content, to_char(a.review_date, 'yy-mm-dd') review_date1, a.review_image, a.review_readnum , b.festival_name, (select count(r_likes_id) from r_likes c where c.review_id_fk=a.review_id) likes from(
		select row_number() over(order by review_date desc) rn, reviews.*
		from reviews where festival_id_fk=#{userId} order by review_date desc) a, festivals b
		<![CDATA[
		where a.rn > #{start} and a.rn <= #{end}
		]]>
		and a.festival_id_fk=#{userId} and a.festival_id_fk=b.festival_id
    </select>

    <select id="totalReviewCountByFest" parameterType="String" resultType="int">
        select count(review_id) from reviews where festival_id_fk=#{value}
    </select>

    <insert id="insertFestival" parameterType="com.project.domain.YFestivalVO">
        insert into festivals(festival_id, festival_contents,festival_name, festival_host, festival_place, festival_addr,festival_latitude,festival_longitude, festival_homepage, festival_end, festival_start, festival_image)
        values(#{festival_id},#{festival_contents},#{festival_name}, #{festival_host},#{festival_place, jdbcType=VARCHAR}, #{festival_addr}, #{festival_latitude, jdbcType=NUMERIC}, #{festival_longitude, jdbcType=NUMERIC}, #{festival_homepage, jdbcType=VARCHAR}, #{festival_end, jdbcType=VARCHAR}, #{festival_start},#{festival_image})
    </insert>

    <!-- 키워드 지역 없을 때 -->
    <select id="getTotalFestivalCount" resultType="int">
        select count(festival_id) from festivals
    </select>
    <select id="getFestivalList" parameterType="com.project.domain.FestivalPagingVO" resultType="com.project.domain.YFestivalVO">
        select * from
		(select rownum rn, a.*, nvl(b.likes, 0) likes
		from festivals a 
		left join (select festival_id_fk, count(f_like_id) likes from f_likes group by festival_id_fk) b
		on a.festival_id = b.festival_id_fk
		order by likes desc)
        <![CDATA[where rn > #{start} and rn <= #{end}]]>
    </select>
    <select id="getFestivalListLatest" parameterType="com.project.domain.FestivalPagingVO" resultType="com.project.domain.YFestivalVO">
        select c.* from(select rownum rn, b.* from (select a.* from festivals a
		
		order by a.festival_start desc) b)c 
        <![CDATA[where rn > #{start} and rn <= #{end}]]>
    </select>
    <!-- keyword -->
    <select id="getTotalFestivalCountWithKeyword" resultType="int" parameterType="String">
        select count(festival_id) from festivals WHERE FESTIVAL_NAME like '%'||#{value}||'%' or festival_contents like '%'||#{value}||'%'
    </select>
    <select id="getFestivalListWithKeyword" resultType="com.project.domain.YFestivalVO" parameterType="com.project.domain.FestivalPagingVO">
         select * from
		(select rownum rn, a.*, nvl(b.likes, 0) likes
		from festivals a 
		left join (select festival_id_fk, count(f_like_id) likes from f_likes group by festival_id_fk) b
		on a.festival_id = b.festival_id_fk
        where (a.FESTIVAL_NAME like '%'||#{keyword}||'%' or a.festival_contents like '%'||#{keyword}||'%')
		order by likes desc)
        <![CDATA[where rn > #{start} and rn <= #{end}]]> 
        
    </select>
    <select id="getFestivalListWithKeywordLatest" resultType="com.project.domain.YFestivalVO" parameterType="com.project.domain.FestivalPagingVO">
        select c.* from(select rownum rn, b.* from (select a.* from festivals a
        where (a.FESTIVAL_NAME like '%'||#{keyword}||'%' or a.festival_contents like '%'||#{keyword}||'%')
		order by a.festival_start desc) b)c 
        <![CDATA[where rn > #{start} and rn <= #{end}]]> 
       
    </select>
    <!-- location -->
    <select id="getTotalFestivalCountWithLoc" resultType="int" parameterType="String">
        select count(festival_id) from festivals WHERE FESTIVAL_addr like '%'||#{value}||'%'
    </select>
    <select id="getFestivalListWithLoc" resultType="com.project.domain.YFestivalVO" parameterType="com.project.domain.FestivalPagingVO">
         select * from
		(select rownum rn, a.*, nvl(b.likes, 0) likes
		from festivals a 
		left join (select festival_id_fk, count(f_like_id) likes from f_likes group by festival_id_fk) b
		on a.festival_id = b.festival_id_fk
        where a.FESTIVAL_addr like '%'||#{loc}||'%'
		order by likes desc)
        <![CDATA[where rn > #{start} and rn <= #{end}]]> 
        
    </select>
    <select id="getFestivalListWithLocLatest" resultType="com.project.domain.YFestivalVO" parameterType="com.project.domain.FestivalPagingVO">
        select c.* from(select rownum rn, b.* from (select a.* from festivals a 
        where a.FESTIVAL_addr like '%'||#{loc}||'%'
		order by a.festival_start desc) b)c 
        <![CDATA[where rn > #{start} and rn <= #{end}]]> 
    </select>
    <!-- keyword & loc -->
    <select id="getTotalFestivalCountWithKeywordNLoc" resultType="int" parameterType="map">
        select count(festival_id) from festivals WHERE FESTIVAL_addr like '%'||#{loc}||'%' and (FESTIVAL_NAME like '%'||#{keyword}||'%' or festival_contents like '%'||#{keyword}||'%')
    </select>
    <select id="getFestivalListWithKeywordNLoc" resultType="com.project.domain.YFestivalVO" parameterType="com.project.domain.FestivalPagingVO">
         select * from
		(select rownum rn, a.*, nvl(b.likes, 0) likes
		from festivals a 
		left join (select festival_id_fk, count(f_like_id) likes from f_likes group by festival_id_fk) b
		on a.festival_id = b.festival_id_fk
        where a.FESTIVAL_addr like '%'||#{loc}||'%' and (a.FESTIVAL_NAME like '%'||#{keyword}||'%' or a.festival_contents like '%'||#{keyword}||'%')
		order by likes desc )
        <![CDATA[where rn > #{start} and rn <= #{end}]]> 
    </select>
    <select id="getFestivalListWithKeywordNLocLatest" resultType="com.project.domain.YFestivalVO" parameterType="com.project.domain.FestivalPagingVO">
        select c.* from(select rownum rn, b.* from (select a.* from festivals a
		where a.FESTIVAL_addr like '%'||#{loc}||'%' and (a.FESTIVAL_NAME like '%'||#{keyword}||'%' or a.festival_contents like '%'||#{keyword}||'%')
		order by a.festival_start desc) b)c 
        <![CDATA[where rn > #{start} and rn <= #{end}]]> 
    </select>
    
</mapper>